/* ----------  media medium screen ---------- */
@media (max-width: 1395px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }

  header ul li a {
    font-size: 14px;
  }

 /* ---------- hero section ---------- */
  .hero {
    height: 750px;
  }

  .main-message h3 {
    font-size: 28px;
  }

  .main-message h1 {
    font-size: 48px;
    width: 95%;
    margin: 35px 0 30px 0;
  }

  .main-message h1 span {
    font-size: 64px;
  }

  .main-message h2 {
    font-size: 54px;
    line-height: 75px;
  }

  .sub-message {
    position: absolute;
    bottom: 135px;
  }

  .sub-message #students {
    margin-left: 120px;
  }

  .sub-message h5 {
    font-size: 20px;
    margin-left: 50px;
  }

  .sub-message h5 #seven {
    font-size: 32px;
  }

  .btn {
    position: absolute;
    bottom: 40px;
  }

  .btn button {
    margin-left: 35px;
    width: 360px;
  }

  .btn button p {
    font-size: 26px;
  }

  .btn a {
    font-size: 26px;
    padding: 10px 20px;
  }

 /* ---------- about section ---------- */
   .about {
    height: 920px;
   }

   .about .triangle {
    left: 45%;
   }

   .about img {
    width: 350px;
    height: 320px;
   }

   .about .info .desc p:first-child {
    font-size: 24px;
  }
  
  .about .info .desc p:last-child {
    font-size: 16px;
  }

  /* ---------- profile section ---------- */
   .profile {
    height: 1200px;
   }

   .profile h2 {
    padding-top: 150px;
   }

   .profile img {
    width: 400px;
    height: 400px;
  }

  .profile .info .desc p {
    width: 95%;
    font-size: 18px;
  }

  .profile .info .desc p span {
    font-size: 26px;
  }

/* ---------- service section ---------- */
  #service {
    height: 2300px;
  }

  #service .overview h2 {
    padding-top: 150px;
  }

  #service .planning .schedule img {
    width: 350px;
    height: 350px;
  }

  #service .overview p,
  #service .planning p,
  #service #coach {
    width: 75%;
  }

  #service .coaching .check .content {
    width: 400px;
  }

  #service .coaching .check .content p {
    height: 180px;
  }

/* ---------- benefit section ---------- */
.benefit {
  height: 3000px;
}

.benefit .overview {
  padding-top: 150px;
}

.benefit .overview img {
  height: 550px;
}

.benefit .content {
  width: 460px;
  height: 420px;
}

.benefit .content img {
  height: 200px;
}

.benefit .content .text {
  height: 188px;
  padding: 15px;
}

.benefit .content .text h5 {
  font-size: 16px;
}

.benefit .content .text p {
  font-size: 14px;
}

.benefit .contents {
  gap: 50px;
}

/* ---------- change section ---------- */
.change {
  height: 750px;
}

.changes {
  padding-top: 200px;
}

.changes .text h5 {
  font-size: 16px;
}

.changes .text h5:last-child {
  width: 390px;
}

.changes .check {
  width: 360px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.changes .check .check-text img {
  width: 20px;
  height: 20px;
}

.changes .check-pic {
  width: 500px;
}

.changes .check-pic .before {
  height: 420px;
}

.changes .check-pic .after {
  height: 420px;
}

/* ---------- central-cv section ---------- */
.central-cv .cv .text h1 {
  font-size: 28px;
}

.central-cv .cv .btn button {
  width: 220px;
}

.central-cv .cv .btn p,
.central-cv .cv .btn a {
  font-size: 18px;
}

.central-cv .cv .btn .tel p {
  padding-top: 5px;
  font-size: 14px;
}

/* ---------- customer-voice section ---------- */
.customer-voice {
  height: 800px;
}

.customer-voice .text h2 {
  padding-top: 150px;
}

.customer-voice .voices .voice01,
.customer-voice .voices .voice02 {
  padding: 30px 30px 10px 30px;
}

.customer-voice .voices h4 {
  font-size: 20px;
}

.customer-voice .voices p {
  font-size: 14px;
}

/* ---------- price section ---------- */
#price {
  height: 1400px;
}

#price .text {
  padding-top: 150px;
}

#price .price-text .main-text .one,
#price .price-text .main-text .two,
#price .price-text .main-text .three {
  font-size: 28px;
}

#price .price-main .join,
#price .price-main .guide {
  padding-left: 80px;
}

#price .price-main .join h2,
#price .price-main .guide h2,
#price .price-main .supplement h2 {
  font-size: 36px;
}

#price .price-main .join p,
#price .price-main .guide p {
  font-size: 36px;
}

#price .price-main .join p span,
#price .price-main .guide p span {
  font-size: 26px;
}

#price .price-main .supplement span {
  font-size: 28px;
}

#price .price-main .rectangle01 {
  bottom: 200px
}

#price .price-main .rectangle02 {
  bottom: 200px
}

/* ----------  cost section ---------- */
.cost .text p {
  width: 70%;
}

.cost .cost-table {
  width: 70%;
}

.cost .year-cost {
  width: 70%;
}

.cost .year-cost p {
  font-size: 32px;
}

.cost .year-cost p span {
  font-size: 40px;
}

/* ----------  trial section ---------- */
.trial {
  height: 1300px;
}

.trial p,
.trial #text02 {
  width: 65%;
}

.trial p span {
  font-size: 28px;
}

.trial .days {
  width: 65%;
  height: 300px;
  padding: 60px 20px 60px 20px;
}

.trial .days .rectangle03 {
  top: 40px;
}

.trial .days .rectangle04 {
  top: 40px;
}

/* ----------  message section ---------- */
.message {
  height: 1300px;
}

.message .text h4 {
  font-size: 32px;
}

.message .sub-text {
  width: 70%;
}

.message .sub-text span {
  font-size: 28px;
}

.message .sub-text #pink {
  font-size: 20px;
}

/* ----------  flow section ---------- */
#flow .supports {
  width: 70%;
  padding: 0 80px 80px 80px;
}

/* ----------  last-message section ---------- */
.last-message,
.last-message .background {
  height: 1800px;
}

.last-message .background .desc {
  width: 80%;
}

/* ---------- footer ---------- */
footer h2 {
  font-size: 20px;
}

footer p {
  font-size: 14px;
}

footer .sns {
  padding-bottom: 30px;
  margin-top: -10px;
}

footer .policy .sns ul li {
  width: 35px;
  height: 35px;
}

footer .policy .sns ul li i {
  font-size: 18px;
}

footer .desc p + p {
  margin-top: 15px;
}

footer small p {
  font-size: 14px;
}

}