/* ----------  media medium screen ---------- */
@media (max-width: 1100px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }

  header ul li a {
    font-size: 14px;
  }

 /* ---------- hero section ---------- */
  .hero {
    height: 750px;
  }

  .main-message h3 {
    font-size: 28px;
  }

  .main-message h1 {
    font-size: 48px;
    width: 95%;
    margin: 35px 0 30px 0;
  }

  .main-message h1 span {
    font-size: 64px;
  }

  .main-message h2 {
    font-size: 54px;
    line-height: 75px;
  }

  .sub-message {
    position: absolute;
    bottom: 135px;
  }

  .sub-message #students {
    margin-left: 120px;
  }

  .sub-message h5 {
    font-size: 20px;
    margin-left: 50px;
  }

  .sub-message h5 #seven {
    font-size: 32px;
  }

  .btn {
    position: absolute;
    bottom: 40px;
  }

  .btn button {
    margin-left: 35px;
    width: 360px;
  }

  .btn button p {
    font-size: 26px;
  }

  .btn a {
    font-size: 26px;
    padding: 10px 20px;
  }

  header #menu {
    display: none;
    z-index: 3;
  }

  .show {
    display: block;
  }

  header #menu ul {
    display: block;
    margin-top: 100px;
    text-align: center;
  }

  header #menu ul li + li {
    margin-left: 0;
    margin-top: 50px;
  }

  header #menu ul li:last-child {
    margin-top: 50px;
  }

  header ul li a {
    font-size: 18px;
  }

  header #sp-menu {
    display: block;
  }

  header #sp-menu,
  header #sp-close {
    color: #fff;
    font-size: 48px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 4;
  }

  header #modal {
    display: none;
  }

  .mdShow {
    width: 100%;
    height: 650px;
    background-color: #E658A6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

 /* ---------- about section ---------- */
   .about {
    height: auto;
    padding-bottom: 120px;
   }

   .about .triangle {
    left: 45%;
   }

   .about .info {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
  }

   .about img {
    width: 350px;
    height: 320px;
   }

   .about .info .desc p:first-child {
    font-size: 24px;
  }
  
  .about .info .desc p:last-child {
    font-size: 16px;
  }

  /* ---------- profile section ---------- */
   .profile {
    height: auto;
    padding-bottom: 120px;
   }

   .profile h2 {
    padding-top: 150px;
   }

   .profile img {
    width: 400px;
    height: 400px;
  }

  .profile .info .desc p {
    width: 95%;
    font-size: 18px;
  }

  .profile .info .desc p span {
    font-size: 26px;
  }

/* ---------- service section ---------- */
  #service {
    height: auto;
    padding-bottom: 120px;
  }

  #service .overview h2 {
    padding-top: 150px;
  }

  #service .planning .schedule img {
    width: 350px;
    height: 350px;
  }

  #service .overview p,
  #service .planning p,
  #service #coach {
    width: 75%;
  }

  #service .coaching .check .content {
    width: 400px;
  }

  #service .coaching .check .content p {
    height: 180px;
  }

/* ---------- benefit section ---------- */
.benefit {
  height: auto;
  padding-bottom: 120px;
}

.benefit .overview {
  padding-top: 150px;
}

.benefit .overview img {
  height: 450px;
}

.benefit .content {
  width: 300px;
  height: auto;
  background-color: #fff;
}

.benefit .content img {
  height: auto;
}

.benefit .content .text {
  height: fit-content;
  padding: 15px;
}

.benefit .content .text h5 {
  font-size: 14px;
}

.benefit .content .text p {
  font-size: 12px;
}

.benefit .contents {
  gap: 40px;
}

/* ---------- change section ---------- */
.change {
  height: auto;
  padding-bottom: 120px;
}

.changes {
  padding-top: 200px;
}

.changes .text h5 {
  font-size: 16px;
}

.changes .text h5:last-child {
  width: 390px;
}

.changes .check {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.changes .check .check-text img {
  width: 20px;
  height: 20px;
}

.changes .check-pic {
  margin-left: 30px;
  display: block;
  width: 300px;
}

.change .check-pic img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  object-position: top;
}

.changes .check-pic .before {
  width: 100%;
  height: 200px;
}

.changes .check-pic .after {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.changes .check-pic .before h4 {
  font-size: 14px;
  padding-top: 7px;
}

.changes .check-pic .after h4 {
  font-size: 14px;
  padding-top: 7px;
}

/* ---------- central-cv section ---------- */
.central-cv #icon {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
}

.central-cv .cv .text h1 {
  font-size: 24px;
}

.central-cv .cv .text h2 {
  font-size: 20px;
}

.central-cv .cv .btn button {
  width: 220px;
}

.central-cv .cv .btn p,
.central-cv .cv .btn a {
  font-size: 16px;
}

.central-cv .cv .btn .tel p {
  padding-top: 5px;
  font-size: 12px;
}

.central-cv .cv .image img {
  width: 250px;
  height: 200px;
  margin-top: -20px;
} 

/* ---------- customer-voice section ---------- */
.customer-voice {
  height: auto;
  padding-bottom: 120px;
}

.customer-voice .voices {
  width: calc((100% - 50px)/2);
  flex-wrap: wrap;
}

.customer-voice .text h2 {
  padding-top: 150px;
}

.customer-voice .voices .voice01,
.customer-voice .voices .voice02 {
  padding: 30px 30px 10px 30px;
}

.customer-voice .voices h4 {
  font-size: 20px;
}

.customer-voice .voices p {
  font-size: 14px;
}

.customer-voice .voices .student01,
  .customer-voice .voices .student02,
  .customer-voice .voices .student03 {
    padding-bottom: 40px;
    gap: 40px;
  }

/* ---------- price section ---------- */
#price {
  height: auto;
  padding-bottom: 120px;
}

#price .text {
  padding-top: 150px;
}

#price .price-text .main-text .one,
#price .price-text .main-text .two,
#price .price-text .main-text .three {
  font-size: 28px;
}

#price .price-main .join,
#price .price-main .guide {
  width: 90%;
  padding-left: 100px;
}

#price .price-main .join h2,
#price .price-main .guide h2,
#price .price-main .supplement h2 {
  font-size: 32px;
}

#price .price-main .join p,
#price .price-main .guide p {
  font-size: 32px;
}

#price .price-main .join p span,
#price .price-main .guide p span {
  font-size: 20px;
}

#price .price-main .supplement {
  width: 90%;
  padding-left: 180px;
}

#price .price-main .supplement span {
  font-size: 24px;
}

#price .price-main .rectangle01 {
  bottom: 100px;
  width: 15px;
  height: 220px;
}

#price .price-main .rectangle02 {
  bottom: 100px;
  width: 15px;
  height: 220px;
}

/* ----------  cost section ---------- */
.cost .text p {
  width: 80%;
}

.cost .cost-table {
  width: 80%;
}

.cost .year-cost {
  width: 80%;
}

.cost .year-cost p {
  font-size: 32px;
}

.cost .year-cost p span {
  font-size: 40px;
}

.cost .head #online {
  padding: 0;
  margin: 0;
  width: 15%;
}

.cost .head #online span {
  color: #000;
  display: inline-block;
  line-height: 1.3;
  font-size: 16px;
}

/* ----------  trial section ---------- */
.trial {
  height: auto;
  padding-bottom: 120px;
}

.trial p,
.trial #text02 {
  width: 65%;
}

.trial p span {
  font-size: 28px;
}

.trial .days {
  width: 65%;
  height: 350px;
  padding: 60px 20px 60px 20px;
}

.trial .days .rectangle03 {
  top: 40px;
  left: 50px;
}

.trial .days .rectangle04 {
  top: 40px;
  right: 50px;
}

/* ----------  message section ---------- */
.message {
  height: auto;
  padding-bottom: 120px;
  background-position: center;
}

.message .text h4 {
  font-size: 28px;
}

.message .sub-text {
  width: 70%;
}

.message .sub-text span {
  font-size: 24px;
}

.message .sub-text #pink {
  font-size: 18px;
}

/* ----------  flow section ---------- */
.flow {
  height: auto;
  padding-bottom: 120px;
}
#flow .text h2 {
  padding-top: 150px;
}

#flow .text h3 {
  padding: 30px 0 100px 0;
}

#flow .supports {
  width: 85%;
  margin: 0 auto;
  padding: 0;
}

#flow .supports .support img {
  width: 100%;
  height: 250px;
}

#flow .supports .support {
  display: block;
  padding-bottom: 50px;
}

#flow .supports .support + .support {
  padding-top: 50px;
}

#flow .supports .support h3 {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* ----------  last-message section ---------- */
.last-message,
.last-message .background {
  height: 2000px;
}

.last-message .background .desc {
  width: 80%;
}

/* ---------- footer ---------- */
footer h2 {
  font-size: 20px;
}

footer p {
  font-size: 14px;
}

footer .footer-menu {
  margin-right: 50px;
}

footer .sns {
  padding-bottom: 30px;
  margin-top: -10px;
}

footer .policy .sns ul li {
  width: 35px;
  height: 35px;
}

footer .policy .sns ul li i {
  font-size: 18px;
}

footer .desc p + p {
  margin-top: 15px;
}

footer small p {
  font-size: 14px;
}

}